cname=pihole.{{ homeserver_domain }},{{ homeserver_domain }}
cname=admin.{{ homeserver_domain }},{{ homeserver_domain }}
cname=dash.{{ homeserver_domain }},{{ homeserver_domain }}
cname=pihole.{{ homeserver_domain }}.local,{{ homeserver_domain }}.local
cname=dash.{{ homeserver_domain }}.local,{{ homeserver_domain }}.local
cname=admin.{{ homeserver_domain }}.local,{{ homeserver_domain }}.local
cname=vpn.{{ homeserver_domain }},{{ homeserver_domain }}
cname=vpn.{{ homeserver_domain }}.local,{{ homeserver_domain }}.local
