# ------------------------------------------------------------
# dash.{{ homeserver_domain }}, dash.{{ homeserver_domain }}.local
# ------------------------------------------------------------


server {
  set $forward_scheme http;
  set $server         "dashy";
  set $port           80;

  listen 80;
listen [::]:80;


  server_name dash.{{ homeserver_domain }} dash.{{ homeserver_domain }}.local;
















  access_log /data/logs/proxy-host-3_access.log proxy;
  error_log /data/logs/proxy-host-3_error.log warn;







  location / {









    # Proxy!
    include conf.d/include/proxy.conf;
  }


  # Custom
  include /data/nginx/custom/server_proxy[.]conf;
}

